<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>مشخصات پیام</h1>
    <strong>نام: <%= @name %></strong><br />
    <strong>آدرس ایمیل: <%= @email %></strong><br />
    <strong>پیام: <%= @message %></strong>
  </body>
</html>